@charset 'UTF-8';

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body{
    font-family: 'Malgun Gothic', '留묒� 怨좊뵓', -apple-system, BlinkMacSystemFont, helvetica, 'Apple SD Gothic Neo', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #222
}

fieldset,
img {
    border: 0
}

img {
    vertical-align: top
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}


.shop_wrap {
    overflow: hidden;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    letter-spacing: -.25px
}


.shop_wrap .group_goods .list_goods_wrap {
    padding: 20px 0 20px
}

.shop_wrap .group_goods .list_goods_wrap .list_goods {
    margin-top: -16px
}

.shop_wrap .group_goods .list_goods_wrap .goods_item {
    margin-top: 16px;
    width: 40%;
}

.shop_wrap .group_goods .list_goods_wrap .title_box {
    margin-top: 9px
}

.shop_wrap .list_goods_wrap .goods_item {
    float: left;
    width: 187px;
    margin-right: 14px;
}

.shop_wrap .list_goods_wrap .goods_area {
    display: block
}

.shop_wrap .list_goods_wrap .thumb_box {
    position: relative;
    overflow: hidden
}

.shop_wrap .list_goods_wrap .thumb_box > img {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.shop_wrap .list_goods_wrap .thumb_bd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .08;
    border: 1px solid #000;
    filter: alpha(opacity=8)
}

.shop_wrap .list_goods_wrap .title {
    line-height: 18px;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis
}