absl-py==0.8.1
astor==0.8.0
certifi==2020.4.5.2
chardet==3.0.4
gunicorn==19.0.0
gast==0.3.2
grpcio==1.25.0
h5py==2.10.0
idna==2.9
joblib==0.15.1
JPype1==0.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
konlpy==0.5.1
Markdown==3.1.1
mock==3.0.5
numpy==1.17.3
pandas==1.0.4
Pillow==6.2.1
protobuf==3.11.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.13.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==2.1.0
urllib3==1.25.9
websockets==8.1
Werkzeug==0.16.0
wordcloud==1.5.0
