body,
html {
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.all-wrap {
    height: 98%;
    width: 90%;
    margin: auto;
}

.all-wrap .row-wrap {
    display: flex;
    height: 50%;
}

.row-wrap + .row-wrap {
    margin-top: 1%;
}

.all-wrap .row-wrap .wrap {
    width: 100%;
    height: 80%;
    margin: 1%;
}

.wrap + .wrap {
    margin-left: 1%;
}

.all-wrap .wrap .box{
    width: 90%;
    height: 100%;
}

p{
    padding: 0;
    margin: 0;
    font-size: 140%;
    text-align: center;
    display: table;
    z-index: 99;
}

b{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media(max-height:600px) {
    body {
        font-size: 70%;
    }
}

@media(max-height:400px) {
    body{
        font-size: 40%;
    }
}

@media(max-height:200px) {
    body{
        font-size: 20%;
    }
}

@media(max-width:1000px) {
    .all-wrap .row-wrap{
        display: block;
        margin: 0;
        height: 50%;
    }
    
    .all-wrap .row-wrap .wrap{
        width: 90%;
        margin: 0;
        height: 50%;
    }
    
    .all-wrap .wrap .box{
        margin: 0;
        height: 80%;
    }
}

.test {
    height: 100%;
    width: 100%;
    border: 1px solid;
    display: flex;
}

.test1 {
    height: 100%;
    width: 50%;
    background-color: aliceblue;
}

.test2 {
    width: 50%;
    height: 100%;
}

.test3 {
    width: 100%;
    height: 33%;
    display: table;
}

.test4 {
    width: 100%;
    height: 33%;
    display: table-cell;
    vertical-align: middle;
}

.test4 + .test4 {
    margin-top: 0.5%;
}

.hi {
    width: 100%;
    height: 10%;
}

.hi2{
    width: 100%;
    height: 
}

.t {
    height: 100%;
    width: 100%;
    border: 1px solid;
}

.t1 {
    width: 100%;
    height: 5%;
    background-color: aliceblue;
}

.t2 {
    width: 100%;
    height: 95%;
    display: flex;
}

.t3{
    width: 50%;
    height: 100%;
}

.t4{
    width: 50%;
    height: 100%;
}

.t5 {
    width: 100%;
    height: 33%;
}