* {
    box-sizing: border-box;
}

html,
body {
    margin: auto;
}

.wrap {
    margin: auto;
    max-width: 1400px;
}

form {
    display: flex;
    justify-content: center;
}

.list {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
}

button {
    border: none;
    width: 40%;
    height: 100%;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 4vmin;
    font-weight: bold;
}