html,
body{
    width: 98%;
    margin: auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto;
}

img {
    height: 70%;
    width: 100%;
}


#own_submit,
#recommend_submit,
#online_submit{
    visibility: hidden;
}

table {
    width: 100%;
}

td {
    width: 30%;
    height: 96vh;
    margin: 4%;
}
