html,
body{
    width: 98%;
    height: 93%;
    margin: auto;
    padding-top: 5vh;
}

.wrap {
    margin: auto;
    display: flex;
    width: 70%;
    height: 80%;
}

img {
    height: 100%;
    width: 100%;
}

.lidiv {
    height: 103%;
    width: 100%;
}

.col-wrap{
    height: 100%;
    width: 100%;
    margin-left: 2vw;
}

.col-wrap .col-div {
    height: 50%;
}

.col-div + .col-div {
    margin-top: 2vh;
}